:root {
  --ant-primary-color: rgba(84,154,220,0.9) !important; /* 默认的主题颜色 */
  
}
.ant-layout {
  background: #fff !important;
  background-color: rgb(249, 251, 252)! important;
  background-image: url(./assets/backgrounds/bridge.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center bottom !important;
  background-size: 100% auto !important;
}
.embed-bi-layout {
  .ant-pro-top-nav-header-main-left {
    display: none;
  }
}

// 滚动条轨道
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

// 定义滑块
::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}



.ant-modal-content{
  border-radius: 6px !important;
  box-shadow:  1px 1px 1px 1px lightgray !important;
  background-color: rgba(255,255,255,0.9) !important;
  overflow: hidden !important;
}

.empty-dashboard-background{
  background-color: rgba(84,154,220,0.01) !important;
}

.grid-dashboard-background{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23fff' /%3E%3Crect x='50%' width='1' height='100%' fill='rgb(203 213 225)' /%3E%3Crect y='50%' width='100%' height='1' fill='rgb(203 213 225)' /%3E%3C/svg%3E%0A");
}

.line-dashboard-background{
  background: linear-gradient(transparent 95%, lightgray 0);
  line-height: 2em;
  background-size: 100% 2em;
  background-attachment: local;
}

.default-pic-dashboard-background{
  background: #fff !important;
  background-color: rgb(249, 251, 252)! important;
  background-image: url(./assets/backgrounds/bridge.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center bottom !important;
  background-size: 100% 40% !important;
}

.global-leaves-pic-dashboard-background{
  background: #fff !important;
  background-color: rgb(249, 251, 252)! important;
  background-image: url(./assets/backgrounds/yellowLeaves.jpg) !important;
  background-repeat: no-repeat !important;
  background-position: center bottom !important;
  background-size: 100% 100% !important;
}